
.container {
	padding: 22px;
}

.box {
	background: #ffc94c;
	width: 150px;
	height: 50px;
	display: inline-block;
	margin-right: 12px;

}

.box-nested {
	background: #383b37;
	display: inline-block;
	padding: 22px;
}

.dragging{
	background: #ff683d;
}
