<router-outlet></router-outlet>

<div class="container">

	<h1>DRAGABLE</h1>
	<div class="box" appDraggable></div>
	<div class="box"></div>


	<h1>MOVABLE</h1>
	<div class="box-nested" appArea>
		<div class="box" appMovable *ngFor="let box of boxes">{{box}}</div>
	</div>

	<div (click)="addBox()">Add</div>


	<h1>HELPER</h1>

	<div class="box" appDraggable>
		BOX

		<div class="box" *appHelper>HELPER</div>
	</div>



</div>

