/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay";
@include cdk-overlay();

body{
	margin: 0;
	padding: 0;
	font-family: arial;
	color: #404040;
}

.draggable{
	cursor: move;
	user-select: none;
}

.movable:not(.dragging) {
	transition: transform 300ms ease-in-out;
}
